* {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 10px;
}

#display {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 18px;
    background-color: #ccc;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    background-color: #fffefe;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e087;
}
